<title>{{ title }}</title>
<!-- Core CSS Assets -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
<!-- Core JavaScript Assets -->
<script src="{{ STATIC_URL }}js/include/jquery.js"></script>
<script src="{{ STATIC_URL }}js/include/underscore.min.js"></script>
<script src="{{ STATIC_URL }}js/include/backbone.min.js"></script>
<script src="{{ STATIC_URL }}js/include/foundation.min.js"></script>
<script src="{{ STATIC_URL }}js/include/modernizr.js"></script>