<!DOCTYPE html>

<head>
{% block pagehead %}{% include 'base.head.html' %}{% endblock %}
{% block pageassets %}{% endblock %}
</head>

<body class="{% block body-background %}{% endblock %}">
<!-- Page Header -->
<header id="chat-header">{% block header %}{% endblock %}</header>
<!-- Page Top Navigation -->
<nav id="chat-topnav">{% block navigation %}{% endblock %}</nav>
<!-- Page Content -->
<section id="chat-pagecontent">{% block content %}{% endblock %}</section>
<footer id="chat-footer">{% block footer %}{% endblock %}</footer>
</body>

</html>