{% extends 'base.html' %}

<!-- Active User -->
{% if user.is_authenticated %}



{% block navigation %}
<nav class='top-bar' data-topbar>
<section class='top-bar-section'>
<ul class="left">
	<li class="has-dropdown">
		<a href="#">Messages</a>
		<ul class="dropdown">
			<li><a href="#">Create a new conversation</a></li>
		</ul>
	</li>
</ul>
</section>
</nav>
{% endblock %}

{% block footer %}
<script src="{{ STATIC_URL }}js/chat/chat.models.js"></script>
<script src="{{ STATIC_URL }}js/chat/chat.views.js"></script>
<script src="{{ STATIC_URL }}js/chat/chat.main.js"></script>
{% endblock %}